# Invitae Cohort Analysis

By Jackie Petersen

---

In [1]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# reading in the data
orders = pd.read_csv('orders.csv')
customers = pd.read_csv('customers.csv')

In [7]:
orders.head()

     id  order_number  user_id              created
0  1709            36      344  2014-10-28 00:20:01
1  1406             7      608  2014-10-14 23:44:53
2  1716             6     2296  2014-10-28 17:47:07
3  1426             2     1225  2014-10-15 18:33:38
4  1415             6      797  2014-10-15 02:07:16

In [8]:
customers.head()

      id              created
0  35410  2015-07-03 22:01:11
1  35417  2015-07-03 22:11:23
2  35412  2015-07-03 22:02:52
3  35413  2015-07-03 22:05:02
4  35424  2015-07-03 22:21:55